<a href="https://colab.research.google.com/github/Epixxs/Epixxs/blob/main/Titanic_ML_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import os
import tensorflow as tf
import tensorflow_decision_forests as tfdf
print("TensorFlow Decision Forests v" + tfdf.__version__)

TensorFlow Decision Forests v1.12.0

In [ ]:
train_df = pd.read_csv("train.csv")
serving_df = pd.read_csv("test.csv")
train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
def preprocess(df):
  df = df.copy()
  def normalize_name(x):
    return " ".join([x.strip(",()[].\"")])
  def ticket_number(x):
    return x.split(" ")[-1]
  def ticket_item(x):
    items = x.split(" ")
    if len(items) == 1:
      return "NONE"
    return "_".join(items[0:-1])

  df["Name"] = df["Name"].apply(normalize_name)
  df["Ticket_number"] = df["Ticket"].apply(ticket_number)
  df["Ticket_item"] = df["Ticket"].apply(ticket_item)
  return df
preprocessed_train_df = preprocess(train_df)
preprocesssed_serving_df = preprocess(serving_df)

preprocessed_train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel",female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE

In [ ]:
input_features = list(preprocessed_train_df.columns)
input_features.remove("Ticket")
input_features.remove("PassengerId")
input_features.remove("Survived")
print(f"Input features: {input_features}")

Input features: ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked', 'Ticket_number', 'Ticket_item']

In [ ]:
def tokenize_names(features, labels=None):
  """Divide the names into token. TF-DF can consume text tokens natively"""
  features['Name'] = tf.strings.split(features['Name'])
  return features, labels
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df, label="Survived").map(tokenize_names)

In [ ]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0,
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True,
    random_seed=1234,
 )
model.fit(train_ds)
self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss: {self_evaluation.loss}")

Accuracy: 0.804347813129425 Loss: 0.8811156153678894

In [ ]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0,
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True,
    min_examples=1,
    categorical_algorithm="RANDOM",
    shrinkage=0.05,
    #num_candidate_attributes_ratio=0.2,
    split_axis="SPARSE_OBLIQUE",
    sparse_oblique_normalization="MIN_MAX",
    sparse_oblique_num_projections_exponent=2.0,
    num_trees=2000,
    #validation_ratio=0.0,
    random_seed=1234,

)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

Accuracy: 0.782608687877655 Loss:1.0173842906951904

In [ ]:
model.summary()

Model: "gradient_boosted_trees_model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.586084 ################
    2.        "Pclass"  0.425849 #########
    3.           "Age"  0.383476 ########
    4.          "Fare"  0.358990 #######
    5.         "SibSp"  0.302518 ####
    6.         "Parch"  0.268988 ###
    7.          "Name"  0.203668 #
    8. "Ticket_number"  0.179703
    9.   "Ticket_item"  0.178701
   10.      "Embarked"  0.176089

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 34.000000 ################
    2. "Name"  6.000000

Variable Importance: NUM_NODES:
    1.          "Fare" 551.000000 ################
    2.           "Age" 531.000000 ###############
    3.        "Pclass" 401.000000 ###########
    4.         "Parch" 388.000000 ###########
    5.         "SibSp" 342.000000 #########
    6.          "Name" 49.000000 #
    7.   "Ticket_item" 47.000000
    8.           "Sex" 38.000000
    9. "Ticket_number" 22.000000
   10.      "Embarked" 15.000000

Variable Importance: SUM_SCORE:
    1.          "Fare" 479.169427 ################
    2.        "Pclass" 438.273420 ##############
    3.           "Age" 421.206830 ##############
    4.           "Sex" 405.943732 #############
    5.         "SibSp" 294.862133 #########
    6.         "Parch" 257.154229 ########
    7.          "Name" 191.114248 ######
    8.   "Ticket_item" 24.838402
    9. "Ticket_number" 22.744736
   10.      "Embarked"  8.385543



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 1.01738
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 40
Total number of nodes: 2130

Number of nodes by tree:
Count: 40 Average: 53.25 StdDev: 4.71567
Min: 41 Max: 63 Ignored: 0
----------------------------------------------
[ 41, 42) 1   2.50%   2.50% #
[ 42, 43) 0   0.00%   2.50%
[ 43, 44) 0   0.00%   2.50%
[ 44, 45) 0   0.00%   2.50%
[ 45, 46) 2   5.00%   7.50% ###
[ 46, 47) 0   0.00%   7.50%
[ 47, 49) 2   5.00%  12.50% ###
[ 49, 50) 4  10.00%  22.50% ######
[ 50, 51) 0   0.00%  22.50%
[ 51, 52) 6  15.00%  37.50% #########
[ 52, 53) 0   0.00%  37.50%
[ 53, 54) 7  17.50%  55.00% ##########
[ 54, 55) 0   0.00%  55.00%
[ 55, 57) 7  17.50%  72.50% ##########
[ 57, 58) 6  15.00%  87.50% #########
[ 58, 59) 0   0.00%  87.50%
[ 59, 60) 2   5.00%  92.50% ###
[ 60, 61) 0   0.00%  92.50%
[ 61, 62) 1   2.50%  95.00% #
[ 62, 63] 2   5.00% 100.00% ###

Depth by leafs:
Count: 1085 Average: 4.85161 StdDev: 0.434789
Min: 3 Max: 5 Ignored: 0
----------------------------------------------
[ 3, 4)  34   3.13%   3.13%
[ 4, 5)  93   8.57%  11.71% #
[ 5, 5] 958  88.29% 100.00% ##########

Number of training obs by leaf:
Count: 1085 Average: 29.4562 StdDev: 73.163
Min: 1 Max: 466 Ignored: 0
----------------------------------------------
[   1,  24) 858  79.08%  79.08% ##########
[  24,  47)  77   7.10%  86.18% #
[  47,  70)  37   3.41%  89.59%
[  70,  94)  23   2.12%  91.71%
[  94, 117)   6   0.55%  92.26%
[ 117, 140)  14   1.29%  93.55%
[ 140, 164)  20   1.84%  95.39%
[ 164, 187)   8   0.74%  96.13%
[ 187, 210)   2   0.18%  96.31%
[ 210, 234)   3   0.28%  96.59%
[ 234, 257)   2   0.18%  96.77%
[ 257, 280)   2   0.18%  96.96%
[ 280, 303)   1   0.09%  97.05%
[ 303, 327)   2   0.18%  97.24%
[ 327, 350)   3   0.28%  97.51%
[ 350, 373)   6   0.55%  98.06%
[ 373, 397)   6   0.55%  98.62%
[ 397, 420)  12   1.11%  99.72%
[ 420, 443)   2   0.18%  99.91%
[ 443, 466]   1   0.09% 100.00%

Attribute in nodes:
	531 : Age [NUMERICAL]
	298 : Fare [NUMERICAL]
	49 : Name [CATEGORICAL_SET]
	47 : Ticket_item [CATEGORICAL]
	38 : Sex [CATEGORICAL]
	29 : Parch [NUMERICAL]
	22 : Ticket_number [CATEGORICAL]
	15 : Embarked [CATEGORICAL]
	12 : Pclass [NUMERICAL]
	4 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	34 : Sex [CATEGORICAL]
	6 : Name [CATEGORICAL_SET]

Attribute in nodes with depth <= 1:
	52 : Age [NUMERICAL]
	34 : Sex [CATEGORICAL]
	22 : Fare [NUMERICAL]
	6 : Name [CATEGORICAL_SET]
	4 : Pclass [NUMERICAL]
	2 : Ticket_number [CATEGORICAL]

Attribute in nodes with depth <= 2:
	131 : Age [NUMERICAL]
	76 : Fare [NUMERICAL]
	34 : Sex [CATEGORICAL]
	12 : Name [CATEGORICAL_SET]
	8 : Ticket_number [CATEGORICAL]
	7 : Embarked [CATEGORICAL]
	4 : Ticket_item [CATEGORICAL]
	4 : Pclass [NUMERICAL]
	4 : Parch [NUMERICAL]

Attribute in nodes with depth <= 3:
	263 : Age [NUMERICAL]
	164 : Fare [NUMERICAL]
	37 : Sex [CATEGORICAL]
	29 : Name [CATEGORICAL_SET]
	26 : Ticket_item [CATEGORICAL]
	18 : Ticket_number [CATEGORICAL]
	14 : Parch [NUMERICAL]
	8 : Embarked [CATEGORICAL]
	7 : Pclass [NUMERICAL]

Attribute in nodes with depth <= 5:
	531 : Age [NUMERICAL]
	298 : Fare [NUMERICAL]
	49 : Name [CATEGORICAL_SET]
	47 : Ticket_item [CATEGORICAL]
	38 : Sex [CATEGORICAL]
	29 : Parch [NUMERICAL]
	22 : Ticket_number [CATEGORICAL]
	15 : Embarked [CATEGORICAL]
	12 : Pclass [NUMERICAL]
	4 : SibSp [NUMERICAL]

Condition type in nodes:
	874 : ObliqueCondition
	128 : ContainsBitmapCondition
	43 : ContainsCondition
Condition type in nodes with depth <= 0:
	37 : ContainsBitmapCondition
	3 : ContainsCondition
Condition type in nodes with depth <= 1:
	78 : ObliqueCondition
	39 : ContainsBitmapCondition
	3 : ContainsCondition
Condition type in nodes with depth <= 2:
	215 : ObliqueCondition
	57 : ContainsBitmapCondition
	8 : ContainsCondition
Condition type in nodes with depth <= 3:
	448 : ObliqueCondition
	94 : ContainsBitmapCondition
	24 : ContainsCondition
Condition type in nodes with depth <= 5:
	874 : ObliqueCondition
	128 : ContainsBitmapCondition
	43 : ContainsCondition

Training logs:
Number of iteration to final model: 40
	Iter:1 train-loss:1.267677 valid-loss:1.369485  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.214706 valid-loss:1.328998  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.163723 valid-loss:1.299587  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:4 train-loss:1.119431 valid-loss:1.264661  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:5 train-loss:1.079252 valid-loss:1.230246  train-accuracy:0.797247 valid-accuracy:0.717391
	Iter:6 train-loss:1.041866 valid-loss:1.201662  train-accuracy:0.828536 valid-accuracy:0.728261
	Iter:16 train-loss:0.791522 valid-loss:1.067266  train-accuracy:0.904881 valid-accuracy:0.782609
	Iter:26 train-loss:0.655975 valid-loss:1.035896  train-accuracy:0.921151 valid-accuracy:0.760870
	Iter:36 train-loss:0.567728 valid-loss:1.026873  train-accuracy:0.924906 valid-accuracy:0.782609
	Iter:46 train-loss:0.504235 valid-loss:1.028864  train-accuracy:0.932416 valid-accuracy:0.782609
	Iter:56 train-loss:0.460262 valid-loss:1.044090  train-accuracy:0.936170 valid-accuracy:0.782609
	Iter:66 train-loss:0.420824 valid-loss:1.057804  train-accuracy:0.947434 valid-accuracy:0.782609

In [ ]:
def pred(model, threshold=0.5):
  proba_survive = model.predict(serving_df, verbase=0)[:,0]
  return pd.DataFrame({
      "PassengerId": serving_df["PassengerId"],
      "Survived": (proba_survive >= threshold).astype("int")
  })

In [ ]:
tuner = tfdf.tuner.RandomSearch(num_trials=1000)
tuner.choice("min_examples", [2,5,7,10])
tuner.choice("categorical_algorithm", ["CART", "RANDOM"])

local_search_space = tuner.choice("growing_strategy", ["LOCAL"])
local_search_space.choice("max_depth", [3, 4, 5, 6, 8])

global_search_space = tuner.choice("growing_strategy", ["BEST_FIRST_GLOBAL"], merge=True)
global_search_space.choice("max_num_nodes", [16, 32, 64, 128, 256])

tuner.choice("shrinkage", [0.02,0.05,0.10,0.15])
tuner.choice("num_candidate_attributes_ratio", [0.2, 0.5, 0.8])

tuner.choice("split_axis", ["AXIS_ALIGNED"])
oblique_space = tuner.choice("split_axis", ["SPARSE_OBLIQUE"], merge=True)
oblique_space.choice("sparse_oblique_normalization",
                     ["NONE", "STANDARD_DEVIATION", "MIN_MAX"])
oblique_space.choice("sparse_oblique_weights", ["BINARY", "CONTINUOUS"])
oblique_space.choice("sparse_oblique_num_projections_exponent", [1.0, 1.5])

# Tune the model. Notice the `tuner=tuner`.
tuned_model = tfdf.keras.GradientBoostedTreesModel(tuner=tuner)
tuned_model.fit(train_ds, verbose=0)

tuned_self_evaluation = tuned_model.make_inspector().evaluation()
print(f"Accuracy: {tuned_self_evaluation.accuracy} Loss:{tuned_self_evaluation.loss}")

Use /tmp/tmpvuinqgs9 as temporary training directory

WARNING:tensorflow:5 out of the last 5 calls to <function CoreModel._consumes_training_examples_until_eof at 0x7f61175b5800> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:5 out of the last 5 calls to <function InferenceCoreModel.make_predict_function.<locals>.predict_function_trained at 0x7f610c3bf4c0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
WARNING:tensorflow:5 out of the last 9 calls to <function InferenceCoreModel.yggdrasil_model_path_tensor at 0x7f610c3bd440> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

Accuracy: 0.8767123222351074 Loss:0.6682143807411194

In [16]:
predictions = None
num_predictions = 0

test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocesssed_serving_df).map(tokenize_names)

for i in range(100):
    print(f"i:{i}")

    model = tfdf.keras.GradientBoostedTreesModel(
        verbose=0,
        features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
        exclude_non_specified_features=True,
        #min_examples=1,
        #categorical_algorithm="RANDOM",
        ##max_depth=4,
        #shrinkage=0.05,
        ##num_candidate_attributes_ratio=0.2,
        #split_axis="SPARSE_OBLIQUE",
        #sparse_oblique_normalization="MIN_MAX",
        #sparse_oblique_num_projections_exponent=2.0,
        #num_trees=2000,
        ##validation_ratio=0.0,
        random_seed=i,
        honest=True,
    )
    model.fit(train_ds)

    sub_predictions = model.predict(test_ds, verbose=0)[:,0]
    if predictions is None:
        predictions = sub_predictions
    else:
        predictions += sub_predictions
    num_predictions += 1

predictions/=num_predictions

final_predictions = pd.DataFrame({
        "PassengerId": serving_df["PassengerId"],
        "Survived": (predictions >= 0.5).astype(int)
    })
print(final_predictions)

i:0
i:1
i:2
i:3
i:4
i:5
i:6
i:7
i:8
i:9
i:10
i:11
i:12
i:13
i:14
i:15
i:16
i:17
i:18
i:19
i:20
i:21
i:22
i:23
i:24
i:25
i:26
i:27
i:28
i:29
i:30
i:31
i:32
i:33
i:34
i:35
i:36
i:37
i:38
i:39
i:40
i:41
i:42
i:43
i:44
i:45
i:46
i:47
i:48
i:49
i:50
i:51
i:52
i:53
i:54
i:55
i:56
i:57
i:58
i:59
i:60
i:61
i:62
i:63
i:64
i:65
i:66
i:67
i:68
i:69
i:70
i:71
i:72
i:73
i:74
i:75
i:76
i:77
i:78
i:79
i:80
i:81
i:82
i:83
i:84
i:85
i:86
i:87
i:88
i:89
i:90
i:91
i:92
i:93
i:94
i:95
i:96
i:97
i:98
i:99
     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]